body{
    background-color: #F3F781 !important;
}
header{
    background-color: #FA5858;
    color: black;
}
.Text_Materia{
    text-align: center;
    color: black;
}
.Perguntas{
    margin: 1rem;
    border-radius: 30px;
    background-color: #FA5858;
    padding: 2%;
}
.Perguntas .text_justify{
    text-align: left;
    color: black;
}
.Perguntas .text_center{
    text-align: center;
    color: black;
}
.respotaCouteiner ul{
    list-style: none;
    color: black;
}
.respotaCouteiner ul li{
    text-align: justify;
    display: flex;
    width: fixed;
}
.back{
    background-color: red;
    color: white;
}
.next{
    background-color: green;
    color: black;
}